fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
psycopg
psycopg2-binary

python-dotenv
python-jose
requests
httpx

pydantic-settings

prometheus-fastapi-instrumentator

siwe
redis==6.1.0

python-multipart==0.0.9